@use '../fonts' as *;
@use "sass:math";

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 1rem;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, 20rem);
  gap: 1rem;
  place-content: center;
}

figure {
  margin: 0;
}

@mixin triangle($sideLength, $size) {
  $hypotenuse: $sideLength; // remaining to make calculations more logical

  $angle: 60deg;
  $opposite: math.sin($angle) * $hypotenuse;
  $adjacent: math.div($hypotenuse, 2);
  $startPos: math.div($size, 2) - $adjacent;
  $startPosY: math.div($size, 2) - math.div($opposite, 2);
  $endPos: math.div($size, 2) + $adjacent;
  $endPosY: math.div($size, 2) + math.div($opposite, 2);

  $clip: polygon(
    $startPos $endPosY,
    50% $startPosY,
    $endPos $endPosY
  );

  -webkit-clip-path: $clip;
  clip-path: $clip;
}

.triangle {
  width: 20rem;
  height: 20rem;
  position: relative;
  background: whitesmoke;
  border: 1px solid lightgray;

  &::after {
    @include triangle(8rem, 20rem);
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(45deg, deeppink, orange);
  }

  &:nth-child(2) {
    &::after {
      @include triangle(50%, 100%);
    }
  }

  &:nth-child(3) {
    &::after {
      @include triangle(30%, 100%);
    }
  }
}

figcaption {
  padding: 0.5rem;
  background: #ffffff;
  position: absolute;
  top: 0;

  span {
    display: block;
  }
}
